[submodule "deps/secp256k1"]
	path = deps/secp256k1
	url = https://github.com/nervosnetwork/secp256k1
[submodule "deps/ckb-c-stdlib"]
	path = deps/ckb-c-stdlib
	url = https://github.com/nervosnetwork/ckb-c-stdlib
[submodule "deps/ckb-production-scripts"]
	path = deps/ckb-production-scripts
	url = https://github.com/nervosnetwork/ckb-production-scripts
